{% extends 'layout.html' %}

{% block title %}{% endblock %}


{% block content %}

  <div class="container">

    <h1>Thesaurus Rex</h1>
    <form>
      <div class="form-group">
        <label for="fromLanguage">Translate from:</label>
        <input type="text" class="form-control" id="fromLanguage" placeholder="English" name='fromLanguage'>
      </div>
      <div class="form-group">
        <label for="toLanguage">Translate to:</label>
        <input type="text" class="form-control" id="toLanguage" placeholder="Spanish" name="toLanguage">
      </div>
      <div class="form-group">
        <label for="translateWord">Word to Translate:</label>
        <input type="text" class="form-control" id="translateWord" placeholder="Hello" name='translateWord'>
      </div>
      <button type="submit" class="btn btn-default">Translate</button>
    </form>


  </div>

{% endblock %}
