@font-face {
  font-family: Bactosaurus;
  src: url(bactosaurus.ttf);
}

body {
  background-color: 'slategray';
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

nav {
  height:10%;
}

a {
  color: #00B7FF;
}

#dinosaur, img {
  width: 88px;
  height: 53px;
  display: inline;
}

#results {
  color: orange;
  font-size: 50px;
  text-align: center;
}

#heading {
  color: orange;
  font-size: 30px;
  font-family: Bactosaurus;
}

#title {
  color: orange;
}

#fromLanguage, #toLanguage {
  color: black;
}

#answer-form, #answer {
  text-align:center;
  margin: auto;
}

#quiz-results {
  padding:0;
  margin:0;
}

#right {
  margin-left: 800px;
  margin-bottom: -140px;
}

.dropdown-toggle {
  float: right;
}

.glyphicon-volume-off {
  padding-left: 15px;
}

.animated {
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.tada {
  -webkit-animation-name: tada;
  animation-name: tada;
}

.stage {
  -webkit-perspective: 1000;
}

.flashcard {
  background-color:white;
  height: 300px;
  width: 500px;
  margin: 10% auto;
  border: 1px solid gray;
  box-shadow: 2px 2px 2px #000;
  -webkit-transform-style: preserve-3d;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
}

.form-control  {
  width: 40%;
}

.flipped, .back {
  transform: rotateX(180deg);
  -webkit-transform: rotateX(180deg);
}

.front {
  height: 300px;
  width: 500px;
  position: absolute;
  text-align: center;
  -webkit-backface-visibility: hidden;
   color: #000;
   top: 50%;
}

.back {
  height: 300px;
  width: 500px;
  position: absolute;
  text-align: center;
  -webkit-backface-visibility: hidden;
   color: #000;
   top: -50%;

 }

.front p, .back p {
  margin-top: 25%;
  font-size: 3em;
}

@-webkit-keyframes tada {
  0% {-webkit-transform: scale(1);}
  10%, 20% {-webkit-transform: scale(0.9) rotate(-3deg);}
  30%, 50%, 70%, 90% {-webkit-transform: scale(1.1) rotate(3deg);}
  40%, 60%, 80% {-webkit-transform: scale(1.1) rotate(-3deg);}
  100% {-webkit-transform: scale(1) rotate(0);}
}

@keyframes tada {
  0% {transform: scale(1);}
  10%, 20% {transform: scale(0.9) rotate(-3deg);}
  30%, 50%, 70%, 90% {transform: scale(1.1) rotate(3deg);}
  40%, 60%, 80% {transform: scale(1.1) rotate(-3deg);}
  100% {transform: scale(1) rotate(0);}
}
