body {
  background-color: 'slategray';
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00B7FF;
}

#results {
  color: orange;
  font-size: 50px;
  text-align: center;
}

.animated {
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes tada {
    0% {-webkit-transform: scale(1);}
    10%, 20% {-webkit-transform: scale(0.9) rotate(-3deg);}
    30%, 50%, 70%, 90% {-webkit-transform: scale(1.1) rotate(3deg);}
    40%, 60%, 80% {-webkit-transform: scale(1.1) rotate(-3deg);}
    100% {-webkit-transform: scale(1) rotate(0);}
}
@keyframes tada {
    0% {transform: scale(1);}
    10%, 20% {transform: scale(0.9) rotate(-3deg);}
    30%, 50%, 70%, 90% {transform: scale(1.1) rotate(3deg);}
    40%, 60%, 80% {transform: scale(1.1) rotate(-3deg);}
    100% {transform: scale(1) rotate(0);}
}
.tada {
    -webkit-animation-name: tada;
    animation-name: tada;
}

.stage {
  -webkit-perspective: 1000;
}

#fromLanguage, #toLanguage {
  color: black;
}
.flashcard {
  background-color:white;
  height: 300px;
  width: 500px;
  margin: 10% auto;
  border: 1px solid gray;
  box-shadow: 2px 2px 2px #000;
  -webkit-transform-style: preserve-3d;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
}

.flipped, .back {
  transform: rotateX(180deg);
  -webkit-transform: rotateX(180deg);
}

.front, .back {
  height: 300px;
  width: 500px;
  position: absolute;
  text-align: center;
  -webkit-backface-visibility: hidden;
}

.front p, .back p {
  margin-top: 25%;
  font-size: 3em;
}
