body {
  background-color: 'slategray';
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00B7FF;
}

.stage {
  -webkit-perspective: 1000;
}

#fromLanguage, #toLanguage {
  color: black;
}
.flashcard {
  background-color:white;
  height: 300px;
  width: 500px;
  margin: 10% auto;
  border: 1px solid gray;
  box-shadow: 2px 2px 2px #000;
  -webkit-transform-style: preserve-3d;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
}

.flipped, .back {
  transform: rotateX(180deg);
  -webkit-transform: rotateX(180deg);
}

.front {
  height: 300px;
  width: 500px;
  position: absolute;
  text-align: center;
  -webkit-backface-visibility: hidden;
   color: #000;
   top: 50%;
}

.back {
  height: 300px;
  width: 500px;
  position: absolute;
  text-align: center;
  -webkit-backface-visibility: hidden;
   color: #000;
   top: -50%;

 }

.front p, .back p {
  margin-top: 25%;
  font-size: 3em;
}
